body {
    background-color: black;
}

#dialogBox {
    background-color: #333;
    left: 0px;
    width: 20%;
    height: 100%;
    color: #FFF;
    float: left;
}
#dialogHeader {
    font-size: 30px;
}

.main {
    width: 100%;
    height: 100%;

}

#captainsCabin {
    width: 100%;
    height: 100%;
}

#stern {
    width: 80%;
    auto;
}
