html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

canvas {
    z-index: 1;
    position: fixed;
    width: 80%;
    height: 100%;
}

body {
    background-color: black;
}

#dialogueBox {
    background-color: #333;
    left: 0px;
    width: 20%;
    height: 100%;
    color: #FFF;
    float: left;
    overflow: scroll;
}

.sunrise {
    -webkit-animation: 24s ease 0s normal forwards 1 sunrise;
    animation: 24s ease 0s normal forwards 1 sunrise;
}

#dialogueHeader {
    font-size: 30px;
}

#main {
    width: 100%;
    height: 90%;
}

#controls {
    height: 10%;
    border-top: 1px solid #333;
    position: relative;
    z-index: 2;
}

.button {
    padding: 15px 32px;
    text-align: center;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    border: 3px solid white;
    opacity: 0;
    transition: opacity 1s ease;
    position: relative;
    z-index: 3;
}

@keyframes buttonFadeIn{
0% { opacity:0; }
100% { opacity:1; }
}

@-webkit-keyframes buttonFadeIn{
0% { opacity:0; }
100% { opacity:1; }
}

#captainsCabin {
    width: 100%;
    height: 100%;
    color: white;
}

#stern {
    -webkit-animation: 24s ease 0s normal forwards 1 sunrise;
    animation: 24s ease 0s normal forwards 1 sunrise;
}

@keyframes sunrise{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes sunrise{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

.dialogue {
-webkit-animation: dialogueFadeIn 1s ease;
animation: dialogueFadeIn 1s ease;
}

@keyframes dialogueFadeIn{
    0% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes dialogueFadeIn{
    0% { opacity:0; }
    100% { opacity:1; }
}

.fadeToBottom {
    background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1)); /* Standard syntax */
    z-index: 2;
    position: fixed;
    width: 80%;
    left: 20%;
    height: 100%;
}
