body {
    background-color: black;
}

#dialogBox {
    background-color: #333;
    left: 0px;
    width: 20%;
    height: 100%;
    color: #FFF;
    float: left;
}
#dialogHeader {
    font-size: 30px;
}

#main {
    width: 100%;
    height: 90%;

}

#controls {
    height: 10%;
    border-top: 1px solid #333;
}

.button {
    padding: 15px 32px;
    text-align: center;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    border: 3px solid white;
}

#captainsCabin {
    width: 100%;
    height: 100%;
    color: white;
}

#stern {
    width: 80%;
    height: auto;
    -webkit-animation: 20s ease 0s normal forwards 1 fadein;
    animation: 24s ease 0s normal forwards 1 fadein;
}

@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}
